# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.venv/
.ENV/

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Miscellaneous
*.DS_Store
*.log
*.pyc
